.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    background-color: var(--primary-colour);
    color: var(--text-colour);
}

.aboutMe-wrapper {
    display: flex;
    gap: 25%;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

.aboutMeTitle {
    font-size: 5em;
    margin-bottom: 0;
}

.left-content {
    font-size: 2em;
    width: 40vw;
}

.lang-wrapper p {
    font-size: 2em;
}

.lang-wrapper svg{
    fill: var(--text-colour);
    height: 30vh;
}

.aboutMe-wrapper div {
    width: 50%;
}

.clipart-image {
    width: 40vh;
    height: auto;
}

@media (max-width: 600px), (orientation: portrait) {
    .aboutMe {
        height: 100vh;
        padding: 2rem;
    }

    .aboutMeTitle {
        font-size: 3em;
        margin-left: 5vw;
    }

    .aboutMe-wrapper {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .left-flex {
        height: auto;
        border-bottom: 1px solid #ccc;
        padding-bottom: 11%;
    }

    .left-flex h1 {
        font-size: 3em;
        text-align: center;
        margin: 0;
    }

    .left-content {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }

    .lang-wrapper p {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }

    .lang-wrapper h1 {
        font-size: 3em;
        text-align: center;
    }

    .aboutMe-wrapper div {
        width: 100%;
    }

    .lang-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .lang-wrapper svg{
        height: 20vh;
    }

    .clipart-image {
        width: 25vh;
        height: auto;
    }
}
