.footer {
    height: 100vh;
    min-height: 100vh;
    background-color: var(--primary-colour);
    color: var(--text-colour);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContent {
    width: 80vw;
}

.footerTop {
    border-bottom: 1px solid var(--text-colour);
    padding-bottom: 15vh;
}

.topFlex {
    display: flex;
    gap: 25%;
}

.topFlex p{
    font-weight: bold;
    font-size: 2.5vh;
    cursor: pointer;
}

.footerIcons {
    display: flex;
    gap: 5%;
    padding-top: 3%;
}

.copyright {
    font-size: 25px;
    font-family: LeagueSpartan;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    align-items: center;
}

.icons div {
    width: 5% !important;
}

.footerIcons div {
    width: 50%;
}

.icon {
    width: 2.5rem;
    height: auto;
    fill: var(--text-colour);
}

.topFlex div p {
    position: relative;
    z-index: 1;
}
  
.topFlex div p::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 20px;
    background-color: var(--textaccent-colour);
    top: -2px;   /* adjust for vertical offset */
    left: -15px;  /* adjust for horizontal offset */
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
}
  
.topFlex div p:hover::before {
    opacity: 1;
}


@media (max-width: 600px), (orientation: portrait) {
    .footer {
        height: auto;
        padding: 2rem;
    }

    .footerContent {
        width: 90vw;
        text-align: center;
    }

    .footerTop {
        padding-bottom: 5vh;
    }

    .topFlex {
        flex-direction: column;
        gap: 15%;
        font-size: 18px;
    }

    .footerIcons {
        flex-direction: column;
        padding-top: 5vh;
    }

    .copyright {
        font-size: 20px;
    }

    .icons {
        justify-content: center;
        width: 100%;
        gap: 5%;
    }

    .icons div {
        width: 10%;
    }

    .footerIcons div {
        width: 100%;
    }

    .icon {
        height: 30px;
    }
}

.icon:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.icon {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
