@import 'mixins';

.header {   
    display: flex;
    width: 100%;
    z-index: 99;
    justify-content: right;
    position: fixed;
    top: 0;
    margin-top: 5vh;

    @include mobile {
        margin-top: 2.5vh;
        position: absolute;
    }
}

.header-icons {
    display: flex;
    gap: 1vw;
    padding-right: 3%;

    & > img:hover {
        cursor: pointer;
    }

    @include mobile {
        gap: 4vw;
        padding-right: 5%;
    }
}

.header-icons-moon {
    width: 2.3rem;
    height: auto;
    fill: var(--text-colour);
}

.header-icons-burger{
    width: 2.9rem;
    height: auto;
    stroke: var(--text-colour);
    cursor: pointer;
}