@import 'mixins';

.box {
    background: var(--indent-colour);
    padding: 2% 2% 2% 2%;
    border-radius: 3%;
    text-align: left;
    width: 90px; 
    height: 60px; 
    min-width: 90px; 
    min-height: 60px; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; 

    & > h1 {
        margin: auto 0 auto 0;   
        font-weight: bold;
        font-size: 16px;
    }

    & > img {
        margin: auto 0 auto 0; 
        height: 35px;
        width: auto; 
    }

    &:hover {
        animation: scale-up-center-small 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @include mobile {
        width: 80px; 
        height: 50px; 
    }
}

@keyframes scale-up-center-small {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
}