#projectScroll {
    height: 100vh;
    min-height: 100vh;
    background-color: var(--primary-colour);
    color: var(--text-colour);
}

.projWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.projContent {
    background-color: var(--secondary-colour);
    height: 70%;
    width: 83%;
    display: flex;
    flex-wrap: wrap;
}

.projLeft {
    border-right: 1px solid var(--text-colour);
    width: 50%;
    box-sizing: border-box;
}

.projRight {
    width: 50%;
    box-sizing: border-box;
}

.projLeftContent {
    padding-top: 15%;
    padding-left: 12%;
    font-size: 25px;
    width: 100%;
}

.projContent p {
    width: 40%;
    margin-bottom: 10%;
    color: var(--text-colour);
}

.projRightContent {
    padding-top: 15%;
    padding-left: 12%;
    font-size: 25px;
    width: 100%;
}

.projRightContent div p {
    margin: 0;
    height: 20vh;
}

.projLeftContent div p {
    margin: 0;
    height: 20vh;
}

.projContent button {
    font-size: 20px; 
    border: 1px solid var(--text-colour);
    width: 18vw;
    height: 7vh;
    background-color: var(--primary-colour);
    color: var(--text-colour);
    font-weight: bold;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

.projContent button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 600px), (orientation: portrait) {
    .projContent {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        width: 90%;
    }

    .projLeft, .projRight {
        width: 100%;
        border-right: none;
        padding: 1rem;
    }

    .projLeftContent div p{
        height: 10vh;
    }

    .projRightContent div p{
        height: 10vh;
    }
}

@media only screen and (max-width: 600px) {
    .projContent {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        width: 90%;
    }

    .projLeft, .projRight {
        width: 100%;
        border-right: none;
        padding: 1rem;
    }

    .projLeftContent, .projRightContent {
        padding-left: 0;
        padding-top: 10%;
        font-size: 1.5em;
        text-align: center;
    }

    .projContent p {
        width: 100%;
        text-align: center;
    }

    .projContent button {
        width: 80%;
        height: auto;
        margin: 10px auto;
        font-size: 16px;
    }
}
