@import 'mixins';

.projects-content {
    font-size: 1vh;
    background-color: var(--main-colour);
    display: flex;
    justify-content: center;
    color: var(--text-colour);
    width: 100%;
}

.projects-title {
    font-size: 1.5vh;
    font-weight: bold;
    text-align: center;

    & > h1 {
        margin: 0;
        font-family: LeagueSpartan;
    }

    & > p {
        font-weight: normal;
        width: 30vw;
        margin: 1vh auto 0 auto;
    }

    @include mobile {
        font-size: 1.8vh;
    }
}

.projectblock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-wrapper{
    padding-top: 20vh;
    width: 70vw;
}

.img-holder{
    background-color: var(--secondary-colour);
    width: 30vw;
    aspect-ratio: 1 / 1;
    max-width: 500px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    & > img {
        width: 15vw; 
    }

    &:hover {
        transform: scale(0.9);
        cursor: pointer;
    }

    @include mobile {
        width: 200px;
        height: 200px;

        & > img {
            width: 150px;
        }
    }
}

.proj-left{
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: var(--indent-colour);
    align-items: center;
    justify-content: center;

    @include mobile {
        flex-direction: column;
        margin-bottom: 10vh;
    }
}

.proj-leftcontent{
    display: flex;

    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.proj-name{
    left: -3.5rem;
    position: relative;
    top: 3.5rem;
    height: fit-content;
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
    width: 80%;

    & > div {
        width: 10vw;

        & > p {
            margin-bottom: 2%;
            font-size: 1vw;
            font-weight: bold;
        }
    }

    & > p {
        margin-bottom: 5vh;
        width: 20vw;
    }

    @include mobile {
        position: relative;
        top: 0;
        padding: 0;
        left: 0;

        & > h1 {
            font-size: 1.5rem;
            width: 70vw;
        }
        
        & > p {
            font-size: 1rem;
            width: 60vw;
            margin-bottom: 2%;
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
    width: 60%;
}

.proj-link {
    @include mobile {
        display: flex;
        gap: 23vw;
        margin-top: 2vh;
    }
}

.proj-link a div button{
    font-size: 12px; 
    border: 1px solid var(--text-colour);
    width: 15vw;
    height: 5vh;
    background-color: var(--primary-colour);
    color: var(--text-colour);
    font-weight: bold;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    @include mobile {
        height: 3vh;
        width: 25vw;
        font-size: 10px;
    }
}