.project-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: auto;
    min-width: 30vh;
    overflow: hidden;
    background-color: #ffffff0a;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}

.lngIcon {
    width: 70%;
    height: auto;
}

.project-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff1e;
    color: white;
    text-align: center;
    padding: 10px;
    height: 6vh;
}

button {
    border-radius: 0;

    &:hover {
        cursor: pointer;
    }
}